html {
  background: #FFF;
}

body {
  color: #62706c;
  font-size: 100%;
  line-height: 1.25;
  padding: 25px;
  margin: 25px 0 ;
  border-right: 25px solid #fff;
  border-left: 25px solid #fff;
  font-family: Arial, sans-serif;
}

.header img {
  padding: 10px;
}